# pnpm 10+/11+ 信任的自动构建依赖包白名单。未在名单内的包一律禁止执行 pre/postinstall 脚本，安全阻断木马。
only-built-dependencies[]=core-js
only-built-dependencies[]=es5-ext
only-built-dependencies[]=oxfmt
only-built-dependencies[]=oxlint
only-built-dependencies[]=vue-tsc
